.detail__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(7, 77, 19);
  padding: 0 15px;
  box-sizing: border-box;
}

.detail__img {
  width: 300px;
  height: 300px;
  border-radius: 30px;
  margin-bottom: 50px;
}

.name {
  font-size: 32px;
  font-weight: 800;
  color: rgb(237, 17, 17);
  margin-bottom: 30px;
  text-transform: uppercase;
}

.bio__container {
  font-size: 14px;
  color: rgb(14, 161, 112);
  line-height: 1.5;
}
